.image {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}

.quotes {
  width: 24px;
}

.occupation {
  font-size: 15px;
}

.occupation,
.message {
  color: lightgray;
  font-weight: lighter;
}

.occupation,
.name {
  text-transform: uppercase;
}
